.search {
  padding: 40px;
  background: #fdc7f5;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 24px;
  border-radius: 30px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 12px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  font-size: 1rem;
  margin-top: 10px;
  text-align: center;
}
