.card {
  background: white;
  border-radius: 12px;
  padding: 12px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  height: 240px;
  object-fit:inherit;
  border-radius: 8px;
}

.card h3 {
  font-size: 1rem;
  margin-top: 10px;
  text-align: center;
}

.book-description {
  margin-top: 20px;

  font-size: 1rem;
  line-height: 1.7;

  color: #333;

  max-width: 700px;

  text-align: justify;
}

.book-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.wiki-box {
  margin-top: 40px;
  padding: 24px;
  background: #fdc7f5;
  border-radius: 6px;
}

.wiki-box img {
  max-width: 220px;
  display: block;
  margin: 10px auto;
}
